/******** common styles ********/
html, body {
    height: 100%;
}

/* top navbar login button */
.btn-nav.active {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    color: #fff;
}

.btn-nav {
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    border-color: #ccc;
    color: #aba2a2;
    margin-top: 7px;
}

.btn-nav:hover,
.btn-nav:focus {
    background-color: rgba(0, 0, 0, 0);
    background-position: 0 -15px;
    color: #fff;
}

/* custom lists */
.sub-item {
    padding-left: 30px;
}

/******** end common styles ********/

/* full top navbar styles */
body {
    padding-top: 50px;
    padding-bottom: 30px;
}

.navbar {
    margin-bottom: 0;
}

.navbar-right {
    padding-right: 20px;
}

/* welcome styles */
.carousel {
    background: #dddad6;
}

.jumbotron {
  padding: 15px;
}

.jumbotron .caption {
    color: #356D73;
    margin-top: 10px;
}

.features {
    margin-bottom: 30px;
}

.features .caption {
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 25px;
    font-weight: 500;
    line-height: 1.1;
    font-size: 30px;
}

.row-band {
    padding-top: 30px;
    padding-bottom: 30px;
}

.alt {
    background: #dddad6;
}

.row-band h1 {
    margin-bottom: 10px;
}

.row-band h3 {
    margin-top: 30px;
    margin-bottom: 15px;
}
