.list {
  padding-left: 0;
  padding-top: 5px;
  padding-bottom: 5px;
}

.list:hover {
  background-color: #f5f5f5;
}

.title {
    color: inherit;
    text-decoration: inherit;
}

.title:hover {
  color: inherit;
  text-decoration: inherit;
  cursor: pointer;
}

.edit {
  cursor: pointer;
  margin: 5px;
}

.edit:hover {
  color:  #a5d48c;;
}

.trash {
  cursor: pointer;
  margin: 5px;
}

.trash:hover {
  color: #c96e6e;
}

.form-inline .form-group {
  padding-right: 5px;
}

.edit-list {
  margin-top: 20px;
}

.check {
    margin-right: 10px;
}

blink, .blink {
  -webkit-animation: blink 1s step-end infinite;
  -moz-animation: blink 1s step-end infinite;
  -o-animation: blink 1s step-end infinite;
  animation: blink 1s step-end infinite;
}

@-webkit-keyframes blink {
  67% { opacity: 0 }
}

@-moz-keyframes blink {
  67% { opacity: 0 }
}

@-o-keyframes blink {
  67% { opacity: 0 }
}

@keyframes blink {
  67% { opacity: 0 }
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
